body {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.container .column {
	float: left;
	display: inline;
}

/* Nested Columns - remove margin/gutter from one column nested inside another column */
.column.noleft {
	margin-left: 0;
}
.column.noright {
	margin-right: 0;
}

/* Grid */
.container .one.column				{ width: 2%;}
.container .two.column				{ width: 4%;}
.container .three.column 			{ width: 6%;}
.container .four.column 			{ width: 8%;}
.container .five.column 			{ width: 10%;}
.container .six.column				{ width: 12%;}
.container .seven.column 			{ width: 14%;}
.container .eight.column 			{ width: 16%;}
.container .nine.column 			{ width: 18%;}
.container .ten.column				{ width: 20%;}
.container .eleven.column 			{ width: 22%;}
.container .twelve.column 			{ width: 24%;}
.container .thirteen.column			{ width: 26%;}
.container .fourteen.column			{ width: 28%;}
.container .fifteen.column			{ width: 30%;}
.container .sixteen.column 			{ width: 32%;}
.container .seventeen.column 		{ width: 34%;}
.container .eighteen.column			{ width: 36%;}
.container .nineteen.column			{ width: 38%;}
.container .twenty.column			{ width: 40%;}
.container .twenty-one.column 		{ width: 42%;}
.container .twenty-two.column 		{ width: 44%;}
.container .twenty-three.column		{ width: 46%;}
.container .twenty-four.column		{ width: 48%;}
.container .twenty-five.column		{ width: 50%;}
.container .twenty-six.column 		{ width: 52%;}
.container .twenty-seven.column 	{ width: 54%;}
.container .twenty-eight.column		{ width: 56%;}
.container .twenty-nine.column		{ width: 58%;}
.container .thirty.column			{ width: 60%;}
.container .thirty-one.column 		{ width: 62%;}
.container .thirty-two.column 		{ width: 64%;}
.container .thirty-three.column		{ width: 66%;}
.container .thirty-four.column		{ width: 68%;}
.container .thirty-five.column		{ width: 70%;}
.container .thirty-six.column 		{ width: 72%;}
.container .thirty-seven.column 	{ width: 74%;}
.container .thirty-eight.column		{ width: 76%;}
.container .thirty-nine.column		{ width: 78%;}
.container .fourty.column			{ width: 80%;}
.container .fourty-one.column 		{ width: 82%;}
.container .fourty-two.column 		{ width: 84%;}
.container .fourty-three.column		{ width: 86%;}
.container .fourty-four.column		{ width: 88%;}
.container .fourty-five.column		{ width: 90%;}
.container .fourty-six.column 		{ width: 92%;}
.container .fourty-seven.column 	{ width: 94%;}
.container .fourty-eight.column		{ width: 96%;}
.container .fourty-nine.column		{ width: 98%;}
.container .fifty.column			{ width: 100%;}

/* Add Space (push) before a column. NOT Nested*/
.container .push-1.column		{ margin-left: 2%;}
.container .push-2.column		{ margin-left: 4%;}
.container .push-3.column 		{ margin-left: 6%;}
.container .push-4.column 		{ margin-left: 8%;}
.container .push-5.column 		{ margin-left: 10%;}
.container .push-6.column		{ margin-left: 12%;}
.container .push-7.column 		{ margin-left: 14%;}
.container .push-8.column 		{ margin-left: 16%;}
.container .push-9.column 		{ margin-left: 18%;}
.container .push-10.column		{ margin-left: 20%;}
.container .push-11.column 		{ margin-left: 22%;}
.container .push-12.column 		{ margin-left: 24%;}
.container .push-13.column		{ margin-left: 26%;}
.container .push-14.column		{ margin-left: 28%;}
.container .push-15.column		{ margin-left: 30%;}
.container .push-16.column 		{ margin-left: 32%;}
.container .push-17.column 		{ margin-left: 34%;}
.container .push-18.column		{ margin-left: 36%;}
.container .push-19.column		{ margin-left: 38%;}
.container .push-20.column		{ margin-left: 40%;}
.container .push-21.column 		{ margin-left: 42%;}
.container .push-22.column 		{ margin-left: 44%;}
.container .push-23.column		{ margin-left: 46%;}
.container .push-24.column		{ margin-left: 48%;}
.container .push-25.column		{ margin-left: 50%;}
.container .push-26.column 		{ margin-left: 52%;}
.container .push-27.column 		{ margin-left: 54%;}
.container .push-28.column		{ margin-left: 56%;}
.container .push-29.column		{ margin-left: 58%;}
.container .push-30.column		{ margin-left: 60%;}
.container .push-31.column 		{ margin-left: 62%;}
.container .push-32.column 		{ margin-left: 64%;}
.container .push-33.column		{ margin-left: 66%;}
.container .push-34.column		{ margin-left: 68%;}
.container .push-35.column		{ margin-left: 70%;}
.container .push-36.column 		{ margin-left: 72%;}
.container .push-37.column 		{ margin-left: 74%;}
.container .push-38.column		{ margin-left: 76%;}
.container .push-39.column		{ margin-left: 78%;}
.container .push-40.column		{ margin-left: 80%;}
.container .push-41.column 		{ margin-left: 82%;}
.container .push-42.column 		{ margin-left: 84%;}
.container .push-43.column		{ margin-left: 86%;}
.container .push-44.column		{ margin-left: 88%;}
.container .push-45.column		{ margin-left: 90%;}
.container .push-46.column 		{ margin-left: 92%;}
.container .push-47.column 		{ margin-left: 94%;}
.container .push-48.column		{ margin-left: 96%;}
.container .push-49.column		{ margin-left: 98%;}
.container .push-50.column		{ margin-left: 100%;}

/* Add Space (append) after a column NOT nested */
.container .append-1.column			{ margin-right: 2%;}
.container .append-2.column			{ margin-right: 4%;}
.container .append-3.column 		{ margin-right: 6%;}
.container .append-4.column 		{ margin-right: 8%;}
.container .append-5.column 		{ margin-right: 10%;}
.container .append-6.column			{ margin-right: 12%;}
.container .append-7.column 		{ margin-right: 14%;}
.container .append-8.column 		{ margin-right: 16%;}
.container .append-9.column 		{ margin-right: 18%;}
.container .append-10.column		{ margin-right: 20%;}
.container .append-11.column 		{ margin-right: 22%;}
.container .append-12.column 		{ margin-right: 24%;}
.container .append-13.column		{ margin-right: 26%;}
.container .append-14.column		{ margin-right: 28%;}
.container .append-15.column		{ margin-right: 30%;}
.container .append-16.column 		{ margin-right: 32%;}
.container .append-17.column 		{ margin-right: 34%;}
.container .append-18.column		{ margin-right: 36%;}
.container .append-19.column		{ margin-right: 38%;}
.container .append-20.column		{ margin-right: 40%;}
.container .append-21.column 		{ margin-right: 42%;}
.container .append-22.column 		{ margin-right: 44%;}
.container .append-23.column		{ margin-right: 46%;}
.container .append-24.column		{ margin-right: 48%;}
.container .append-25.column		{ margin-right: 50%;}
.container .append-26.column 		{ margin-right: 52%;}
.container .append-27.column 		{ margin-right: 54%;}
.container .append-28.column		{ margin-right: 56%;}
.container .append-29.column		{ margin-right: 58%;}
.container .append-30.column		{ margin-right: 60%;}
.container .append-31.column 		{ margin-right: 62%;}
.container .append-32.column 		{ margin-right: 64%;}
.container .append-33.column		{ margin-right: 66%;}
.container .append-34.column		{ margin-right: 68%;}
.container .append-35.column		{ margin-right: 70%;}
.container .append-36.column 		{ margin-right: 72%;}
.container .append-37.column 		{ margin-right: 74%;}
.container .append-38.column		{ margin-right: 76%;}
.container .append-39.column		{ margin-right: 78%;}
.container .append-40.column		{ margin-right: 80%;}
.container .append-41.column 		{ margin-right: 82%;}
.container .append-42.column 		{ margin-right: 84%;}
.container .append-43.column		{ margin-right: 86%;}
.container .append-44.column		{ margin-right: 88%;}
.container .append-45.column		{ margin-right: 90%;}
.container .append-46.column 		{ margin-right: 92%;}
.container .append-47.column 		{ margin-right: 94%;}
.container .append-48.column		{ margin-right: 96%;}
.container .append-49.column		{ margin-right: 98%;}
.container .append-50.column		{ margin-right: 100%;}

/* Use this clear class on Break elements */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.container .row {
	display: block;
	margin-bottom: 20px;
}

.container .row-1.row 		{height: 20px;}
.container .row-2.row 		{height: 40px;}
.container .row-3.row 		{height: 60px;}
.container .row-4.row 		{height: 80px;}
.container .row-5.row 		{height: 100px;}
.container .row-6.row 		{height: 120px;}
.container .row-7.row 		{height: 140px;}
.container .row-8.row 		{height: 160px;}
.container .row-9.row 		{height: 180px;}
.container .row-10.row 		{height: 200px;}
.container .row-11.row 		{height: 220px;}
.container .row-12.row 		{height: 240px;}
.container .row-13.row 	{height: 260px;}
.container .row-14.row 	{height: 280px;}
.container .row-15.row 	{height: 300px;}
.container .row-16.row 	{height: 320px;}
.container .row-17.row 	{height: 340px;}
.container .row-18.row	{height: 360px;}
.container .row-19.row 	{height: 380px;}
.container .row-20.row 		{height: 400px;}

.container .down-1.row		{margin-top: 20px;}
.container .down-2.row 		{margin-top: 40px;}
.container .down-3.row 		{margin-top: 60px;}
.container .down-4.row 		{margin-top: 80px;}
.container .down-5.row 		{margin-top: 100px;}
.container .down-6.row 		{margin-top: 120px;}
.container .down-7.row 		{margin-top: 140px;}
.container .down-8.row 		{margin-top: 160px;}
.container .down-9.row 		{margin-top: 180px;}
.container .down-10.row 	{margin-top: 200px;}
.container .down-11.row 	{margin-top: 220px;}
.container .down-12.row 	{margin-top: 240px;}
.container .down-13.row 	{margin-top: 260px;}
.container .down-14.row 	{margin-top: 280px;}
.container .down-15.row 	{margin-top: 300px;}
.container .down-16.row 	{margin-top: 320px;}
.container .down-17.row 	{margin-top: 340px;}
.container .down-18.row		{margin-top: 360px;}
.container .down-19.row 	{margin-top: 380px;}
.container .down-20.row 	{margin-top: 400px;}
.container .down-21.row		{margin-top: 420px;}
.container .down-22.row 	{margin-top: 440px;}
.container .down-23.row 	{margin-top: 460px;}
.container .down-24.row 	{margin-top: 480px;}
.container .down-25.row 	{margin-top: 500px;}
.container .down-26.row 	{margin-top: 520px;}
.container .down-27.row 	{margin-top: 540px;}
.container .down-28.row 	{margin-top: 560px;}
.container .down-29.row 	{margin-top: 580px;}
.container .down-30.row 	{margin-top: 600px;}
.container .down-31.row 	{margin-top: 620px;}
.container .down-32.row 	{margin-top: 640px;}
.container .down-33.row 	{margin-top: 660px;}
.container .down-34.row 	{margin-top: 680px;}
.container .down-35.row 	{margin-top: 700px;}
.container .down-36.row 	{margin-top: 720px;}
.container .down-37.row 	{margin-top: 740px;}
.container .down-38.row		{margin-top: 760px;}
.container .down-39.row 	{margin-top: 780px;}
.container .down-40.row 	{margin-top: 800px;}
