/*---------------General:Bs---------------*/
html {
	background-color: #262626;
	margin-top: 0px;
	padding-top: 0px;
	max-width: 100%;
}
body {
	font-family: Lato, sans-serif;
	color: #DFDFDF;
	height: auto;
	margin-top: 0px;
	padding-top: 0px;
	max-width: 100%;
}
body li {
	font-weight: lighter;
	color: #B1B1B1;
}
body p {
	font-weight: lighter;
	color: #B1B1B1;
	line-height: 23px;
}
h1 {
	letter-spacing: 1px;
	color: #D8D8D8;
}
h2 {
	letter-spacing: 1px;
	color: #D8D8D8;
}
h3 {
	color: #D8D8D8;
}
h4 {
	color: #D8D8D8;
}

ul {
	line-height: 23px;
}

/*--------------------------Navigation--------------------------*/
nav {
	background-color: rgba(56, 56, 55, .9) !important;
	height: 100px;
	z-index: 5;
}
nav .floatleft {
	float: left;
}
nav li{
	display: inline-block;
	float: right;
	text-align: center;
}
nav li a {
	color: #D8D8D8;
	text-decoration: none;
	text-align: center;
	width: 60px;
	transition-duration: 0s;
}
nav li a:hover {
	border-bottom: none;
	transition-duration: 0s;
	color: #D8D8D8
}
nav .margintop {
	float: right;
	margin-top: 20px;
}



.absolute {
	position: absolute;
}
a {
	font-family: Lato, 'Century Gothic', sans-serif;
	text-decoration: none;
	color: #fff;
	transition-duration: .2s;
}
a:hover {
	color: #B1B1B1;
	border-bottom: 2px solid #FFA218;
	transition-duration: .2s;
}

.button {
	background-color: #262626;
	width: 200px;
	height: 30px;
	color: #fff;
	border-radius: 2%;
	text-align: center;
	padding-top: 8px;
	transition-duration: .2s;
	font-weight: lighter;
}
.button:hover {
	background-color: #404040;
	transition-duration: .2s;
}
.button a:hover {
	border-bottom: none;
	color: #FFA218;
}
.button p:hover {
	color: #FFA218;
	margin: 0px;
}
.button p {
	margin: 0px;
	margin-left: 0px !important;
}
.active-glow {
	background-color: #606060;
}
.active-glow p {
	color: #FFA218;
}



/*--------------------------Jumbotron--------------------------*/
.jumbotron {
	margin: 0px;
	padding: 0px;
}
.jumbotron-absolute {
	position: absolute;
	text-align: center;
}
.jumbotron-absolute img {
	margin-left: 20px;
	z-index: 2;
}
.jumbotron div {
	z-index: 2;
}
.jumbotron div h1 {
	font-size: 40px;
	color: #ffffff;
}
.jumbotron div h2 {
	font-size: 35px;
	color: #262626;
	float: right;
}
.jumbotron div p {
	font-size: 20px;
	color: #262626;
	line-height: 30px;
	text-align: center;
	letter-spacing: .5px;
	margin-top: 140px;
}
.jumbotron .margintop {
	margin-top: 525px;
}
.jumbotron .margintop-arrow {
	margin-top: 821px;
}
.jumbotron .margintop-home {
	margin-top: 300px;
	color: #fff;
}
.jumbotron .margintop-large {
	margin-top: 626px;
}
.jumbotron .margintop-mlarge {
	margin-top: 707px;
}
.jumbotron .margintop-xlarge {
	margin-top: 740px;
}
.jumbotron .margintop-small {
	margin-top: 496px;
}
.jumbotron .margintop-xsmall {
	margin-top: 450px;
}
.jumbotron .margintop-2xsmall {
	margin-top: 364px;
}
.jumbotron .margintop-xmedium {
	margin-top: 566px;
}
.jumbotron-relative {
	position: relative;
}






/*---------------General:Cs---------------*/
.center {
	text-align: center;
}
.color .white {
	color: #fff;
}
.color .gray {
	color: #262626;
}


/*---------------Dropdown---------------*/
.dropdown {
	background-color: rgb(56, 56, 55);
	position: absolute;
	display: block !important;
	padding: 0px;
	margin-left: 0px;
	float: left;
}
.dropdown li{
	height: 30px;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}
.dropdown li:hover {
	border-left: 2px solid #90FF5B;
}


/*---------------General:Fs---------------*/
.floatright {
	float: right !important;
}





/*---------------General:Hs---------------*/
.hidden {
	display: none;
	width: 0px !important;
	height: 0px !important;
}
.no-show {
	visibility: hidden;
}
.intro {
	font-size: 20px;
	line-height: 32px;
}
.font-large {
	font-size: 40px;
}


/*---------------General:Is---------------*/
/*--------------------------Balanced--------------------------*/
.octagon {
	width: 38%;
	background: rgba(56, 56, 55, .6);
	position: relative;
	color: #fff;
	padding: 0px 3% 0px 3.2%;
}
.octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 160px solid rgba(56, 56, 55, 0);
	border-left: 160px solid #262626;
	border-right: 160px solid #262626;
	width: 50.6%;
	height: 0;
}
.octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 160px solid rgba(56, 56, 55, 0);
	border-left: 160px solid #262626;
	border-right: 160px solid #262626;
	width: 50.6%;
	height: 0;
}
.octagon.height-1 	{height: 530px;}
.octagon.height-2 	{height: 540px;}
.octagon.height-3 	{height: 550px;}
.octagon.height-4 	{height: 560px;}
.octagon.height-5 	{height: 570px;}
.octagon.height-6 	{height: 580px;}
.octagon.height-7 	{height: 590px;}
.octagon.height-8 	{height: 600px;}
.octagon.height-9 	{height: 610px;}
.octagon.height-10 	{height: 620px;}
.octagon.height-11 	{height: 630px;}
.octagon.height-12 	{height: 660px;}
.octagon.height-13 	{height: 670px;}
.octagon.height-14 	{height: 680px;}
.octagon.height-15 	{height: 690px;}
.octagon.height-16	{height: 700px;}
.octagon.height-17	{height: 710px;}
.octagon.height-18	{height: 720px;}
.octagon.height-19	{height: 730px;}
.octagon.height-20	{height: 740px;}
.octagon.height-21	{height: 750px;}
.octagon.height-22 	{height: 760px;}
.octagon.height-23 	{height: 770px;}
.octagon.height-24 	{height: 780px;}
.octagon.height-25 	{height: 790px;}
.octagon.height-26 	{height: 800px;}
.octagon.height-27	{height: 810px;}
.octagon.height-28	{height: 820px;}
.octagon.height-29	{height: 830px;}
.octagon.height-30	{height: 840px;}
.octagon.height-31	{height: 850px;}
.octagon.height-32	{height: 860px;}
.octagon.height-33	{height: 870px;}
.octagon.height-34	{height: 880px;}
.octagon.height-35 	{height: 890px;}
.octagon.height-36 	{height: 900px;}
.octagon.height-37 	{height: 910px;}
.octagon.height-38 	{height: 920px;}
.octagon.height-39 	{height: 930px;}
.octagon.height-40 	{height: 940px;}
.octagon.height-41	{height: 950px;}
.octagon.height-42	{height: 960px;}
.octagon.height-43	{height: 970px;}
.octagon.height-44	{height: 980px;}
.octagon.height-45	{height: 990px;}
.octagon.height-46 	{height: 1000px;}
.octagon.height-47	{height: 1010px;}
.octagon.height-48	{height: 1020px;}
.octagon.height-49	{height: 1030px;}
.octagon.height-50	{height: 1040px;}
.octagon.height-51	{height: 1050px;}
.octagon.height-52	{height: 1060px;}
.octagon.height-53	{height: 1070px;}
.octagon.height-54	{height: 1080px;}
.octagon.height-55 	{height: 1090px;}
.octagon.height-56 	{height: 1100px;}
.octagon.height-57	{height: 1110px;}
.octagon.height-58	{height: 1120px;}
.octagon.height-59	{height: 1130px;}
.octagon.height-60	{height: 1140px;}
.octagon.height-61	{height: 1150px;}
.octagon.height-62	{height: 1160px;}
.octagon.height-63	{height: 1170px;}
.octagon.height-64	{height: 1180px;}
.octagon.height-65 	{height: 1190px;}
.octagon.height-66 	{height: 1200px;}
.octagon.height-67	{height: 1210px;}
.octagon.height-68	{height: 1220px;}
.octagon.height-69	{height: 1230px;}
.octagon.height-70	{height: 1240px;}
.octagon.height-71	{height: 1250px;}
.octagon.height-72	{height: 1260px;}
.octagon.height-73	{height: 1270px;}
.octagon.height-74	{height: 1280px;}
.octagon.height-75 	{height: 1290px;}
.octagon.height-76 	{height: 1300px;}
.octagon.height-77	{height: 1310px;}
.octagon.height-78	{height: 1320px;}
.octagon.height-79	{height: 1330px;}
.octagon.height-80	{height: 1340px;}
.octagon.height-81	{height: 1350px;}
.octagon.height-82	{height: 1360px;}
.octagon.height-83	{height: 1370px;}
.octagon.height-84	{height: 1380px;}
.octagon.height-85 	{height: 1390px;}


.octagon h1, .octagon p, .octagon h2, .octagon ul, .octagon a {
	position: absolute;
	padding-right: 7%;
}
.octagon h2 {
	line-height: 34px;
	padding-bottom: 20px;
}
.oct-second{
	position: relative;
	width: 50%;
}
.oct-second:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 200px solid rgba(56, 56, 55, 0);
	border-left: 200px solid #262626;
	border-right: 200px solid #262626;
	width: 50.6%;
	height: 0;
}
.oct-second:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 200px solid rgba(56, 56, 55, 0);
	border-left: 200px solid #262626;
	border-right: 200px solid #262626;
	width: 50.6%;
	height: 0;
}
.oct-second ul{
	text-align: left;
	padding-right: 6%;
}
.oct-second p{
	text-align: left;
	padding-right: 4%;
}
.octagon a {
	padding-right: 0px;
}


/*--------------------------General:Ls--------------------------*/
li.no-style {
	list-style: none;
}

.article-submission {
	background-color: #262626;
}


/*--------------------------General:Ns--------------------------*/
.no-margin div p {
	margin-left: 0px !important;
}
.marginnone {
	margin-left: 0px !important;
}


/*--------------------------General:Os--------------------------*/
.orange:hover {
	border-bottom: 2px solid #FFA218;
}


/*--------------------------General:Rs--------------------------*/
.relative {
	position: relative !important;
}
.rule {
	margin-top: 40px;
	margin-bottom: 40px;
}


/*--------------------------Text Heavy Styles--------------------------*/
.text-body {
	margin-top: 2px;
	margin-bottom: 20px;
	padding-bottom: 30px;
}
#text-body {
	width: 85%;
	background-color: rgba(56, 56, 55, .6);
	position: relative;
	padding-top: 170px;
	position: center;
	margin-left: 7.5%;
}
#text-body:before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	border-bottom: 250px solid rgba(56, 56, 55, 0);
	border-left: 250px solid #262626;
	border-right: 250px solid #262626;
	width: 59.03%;
	height: 0;
	z-index: 1;
}
.text-body div section p{
	margin-left: 60px;
}
.text-body p{
	margin-left: 60px;
}
.text-body li{
	margin-left: 60px;
}
.text-body h2 {
	font-size: 30px;
	text-align: center;
}
.text-body img {
	margin-bottom: 20px;
}


/*---------------Blockquote---------------*/
.blockquote {
	margin-bottom: 10px;
}
.blockquote.blue {
	border-bottom: 2px solid #00B3F4;
}
.blockquote.green {
	border-bottom: 2px solid #90FF5B;
}
.blockquote.orange {
	border-bottom: 2px solid #FFA218;
}
.blockquote p {
	font-size: 16px;
	font-weight: bolder;
	line-height: 25px;
	letter-spacing: .7px;
	color: #D8D8D8;
	margin-left: 0px !important;
}

.margin-top {
	margin-top: 300px;
}
.margin-topsmall {
	margin-top: 130px;
}
.margin-bottom {
	margin-bottom: 40px;
}
.margin-bottomsmall {
	margin-bottom: 20px;
}
.nomargin {
	margin: 0px;
}

.visible {
	visibility: visible;
	width: 300px;
	height: 400px;
}

.visible-button {
	visibility: visible;
}


/*--------------------------Footer--------------------------*/
footer p {
	text-align: center;
	padding-bottom: 10px;
}
footer hr {
	border: 1px solid #00B3F4;
	width: 85%;
}

footer {
	display: block !important;
	float: none !important;
}



